.coupon-building-manager {
  background: linear-gradient(to right, #22d7db, #5981e8);
}
.product-building-manager {
  background: linear-gradient(to right, #f6539b, #fd707c);
}
.place-building-manager {
  background: linear-gradient(to right, #41de99, #3cbbb1);
}
.iBeacon-building-manager {
  background: linear-gradient(to right, #ffcf44, #ff9f51);
}
.date-Picker-building-manager {
  background-color: linear-gradient(to right, #ce7ffe, #ad62fd);
}
