.ant-image-custom{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='gray' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    .ant-image{
        overflow: hidden;
        height: 250px;

    }
    .ant-image-mask{
        height: 270px !important;
    }
    padding: 10px;
}

.ant-upload.ant-upload-select-picture-card{
    height: 30px !important;
    width: 0px;
}
.ant-modal-body{
    height: 360px;
}
.ant-col-12{
    height: 330px;
}
.ant-row{
        justify-content: flex-end;
    
}
