@mixin modal-wrapper-rotate($deg) {
  
  .ant-modal {
    width: 96% !important;
    top: 20px !important;
    .ant-modal-body {
      height: 78vh !important;

      background-color: rgb(243, 242, 242);
      .react-transform-wrapper {
        height: 73vh !important;
      }
      .react-transform-component {
        width: 92.5vw;
        img {
          border: 1px solid rgb(197, 196, 196);
          border-radius: 5px;
        }
        .image-wrapper {
          position: relative;
          svg {
            position: absolute;
            top: 0;
            left: 0;
            path,
            circle, rect, g {
              cursor: pointer !important;
            }
          }
          @if $deg == 90deg {
            transform: rotate($deg) translate(-51%, -25.5%);
          } @else if $deg == -90deg {
            transform: rotate($deg) translate(51%, 25.5%);
          } @else if $deg == 180deg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.modal-wrapper0 {
  @include modal-wrapper-rotate(0deg);
}
.modal-wrapper90 {
  @include modal-wrapper-rotate(90deg);
}
.modal-wrapper-90 {
  @include modal-wrapper-rotate(-90deg);
}
.modal-wrapper180 {
  @include modal-wrapper-rotate(180deg);
}
.modal-wrapper-180 {
  @include modal-wrapper-rotate(180deg);
}

.preview-wrapper {
  height: 340px;
  // background-color: #F6F6F6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 8px;

  .react-transform-wrapper {
    width: 96.2%;
    height: 93%;
    overflow: hidden;
  }
  .full-screen-btn {
    z-index: 10;
    position: absolute;
    right: 10px;
    top: 10px;
    .anticon {
      font-size: 25px;
    }
  }
  .without-preview-btn{
    transform:  translate(-3px,-1.5px)
  }
  .image-wrapper {
    position: relative;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      path,
      circle, g, rect {
        cursor: pointer;
      }
    }
  }
}

.without-preview{
  display: inline-block;
}

.off-switch {
  .ant-radio-button-checked {
    background-color: #c5c0c0;
    border-color: #c5c0c0;
  }
}

.img-red{
  filter: invert(62%) sepia(59%) saturate(5304%) hue-rotate(328deg) brightness(95%) contrast(97%);
}

.filter-wrapper{
  position: relative;
  .filter-select{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
  }
}

.custom-menu-item{
  user-select: none;
  .anticon{
    margin-top: 8px;
  }
}