.login-form {
  max-width: 400px;
  padding: 5px 25px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

#root {
  background-image: 'url("https://images.unsplash.com/photo-1583417319070-4a69db38a482?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80")';
}
