#root {
  width: auto;
  height: 100%;
  // background-color: #fff;
}

body {
  // background-color: #ffffff;
  background-image: url("https://images.unsplash.com/photo-1583417319070-4a69db38a482?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
}
